/*    Override grayscale    */

h2 {
    font-size: 35px !important;
}








/*    Waiting page    */

.full {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.full-2 {
    position: absolute;
    top: 35%;
    padding: 3% 15%;
    color: black;
    margin: 0% 5% !important;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
}
.full-3 {
    position: absolute;
    bottom: 15%;
    padding: 3% 15%;
    color: black;
    text-align: center;
    font-weight: bold;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 30px;
}
.bck-full {
    width: 100%;
    height: 100%;
    background-image: url('../img/test.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#page-attente {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    text-align: center;
    margin-bottom: 2%;
}

@media screen and (max-width: 400px) {
    .full-3 {
        bottom: 2% !important;
    }
}










/*     Home     */

#container {
    width: 100%;
    text-align: center;
    display: flex;
}
.pdg-block-home {
    padding: 20% 180px;
}
.margin-auto {
    margin-left: 5%;
    margin-right: 2%;
}
#left {
    float: left;
    width: 45%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px;
    cursor: pointer;
    margin-right: 40px;    
}
#right {
    float: right;
    width: 45%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px;
    cursor: pointer;
    margin-left: 40px;
}

@media screen and (max-width: 1200px) {
    #right > h3 {
        font-size: 19px !important;
        margin-bottom: 15px;
    }
    #left > h3 {
        font-size: 19px !important;
        margin-bottom: 15px;
    }
}



.masthead-g {
    display: table;
    width: 100%;
    height: -webkit-fill-available;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url("img/7.jpg") no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}

#section-presentation {
    background-color: #fff;
    color: #000;
}

.bck-img {
    background-image: url('../img/header.jpg');
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
#part-pro {
    padding: 100px 0px 100px 0px !important;
}
.left-65 {
    float: left;
    width: 65%;
    height: 501px;
    background-color: grey;
    border: 1px solid #000;
}

.right-35 {
    float: right;
    width: 35%;
    height: 501px;
    background-color: lightgrey;
    border: 1px solid #000;
}

.left-35 {
    float: left;
    width: 35%;
    height: 501px;
    background-color: grey;
    border: 1px solid #000;
}

.right-65 {
    float: right;
    width: 65%;
    height: 501px;
    background-color: lightgrey;
    border: 1px solid #000;
}

.img-home-35 {
    background-image: url('../img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* *******     Changer l'url de l'image, peinture.jpg et peinture-test.jpg     ******* */
.bck-peinture {
    background-image: url('../img/peinture-test.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home_button {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
    color: #212529;
    background-color: #f8f9fa;
    border: none;
    width: 50%;
    line-height: 45px;
    cursor: pointer;
}
.model-home {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 7%;
    width: 60%;
    text-align: center;
}

/*    Utils    */

h1 {
    margin: 0 !important;
}
p {
    margin: 0 !important;
}
.bck-white {
    background-color: rgba(255, 255, 255, 0.6);
}
.pdg-50 {
    padding: 50px;
}
.txt-center {
    text-align: center !important;
}
.txt-white {
    color: #fff !important;
}
.pdg-light {
    padding: 20px !important;
}
.no-mrg {
    margin: 0px !important;
}
.disp-flex {
    display: inline-flex !important;
}
.w-100 {
    min-width: 100% !important;
}
.txt-black {
    color: #000;
}
.mrg-bot {
    margin-bottom: 10px;
}
.pos-rel {
    position: relative;
}




/*    SLIDER HOME    */

.img-slider-g {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.full-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pos-rel {
    position: relative;
}

#btn-moins {
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    padding-bottom: 10px;
    transition: all 0.5s;
}
#btn-moins:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
}

#btn-plus {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    padding-bottom: 10px;
    transition: all 0.5s;
} 

#btn-plus:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
}